/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 16px;
  line-height: 1.4;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

html, body {
  overflow-x: hidden;
}



/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*universal styles*/
h1, h2, h3 {
  font-family: "Sirin Stencil", serif;
}

h2 {
  font-size: 2.5rem;
  padding: 30px
}

.image-container {
  /*min-width: 400px;*/
  /*height: 100%;*/
}

img {
  width: 100%;
  overflow: hidden;
}

p {
  text-indent: 30px;
  padding: 30px;
}

.content-container {
  display: flex;
  margin: auto 30px;
}


/*navigation bar*/
nav {
  background-color: black;
  color: white;
  display: flex;
  /*margin: 15px 0px;*/
  padding: 15px 30px;
  justify-content: space-between;
}

logo {
  margin: auto 0;
  font-family: "Sirin Stencil", serif;
  font-size: 2.5rem;
  color: pink;
  flex-shrink: 1;
}

.nav-bar ul {
  flex-shrink: 2;
}

.nav-bar ul li {
  margin-right: 10px;
  padding: 20px;
  display: inline;
}

li a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

li a:hover {
  color: pink;
}

li a:active {
  color: white;
}

/*alternate hamburger menu*/
.dropdown-menu {
  display: none;
}

/*checkbox label and divs*/
.hamburger {
  height: 45px;
  margin: 10px;
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  background-color: black;
  z-index: 100;
}

.hamburger div {
  background-color: white;
  /*color: white;*/
  position: relative;
  width: 40px;
  height: 5px;
  margin-top: 7px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  /*margin-right: 30px;*/
}

/*keeps checkbox from showing*/
#hamburger {
  display: none;
}

#hamburger:checked + .hamburger div {
  background-color: pink;
}

#hamburger:checked ~ .dropdown-links {
  height: 250px;
}

.dropdown-links {
  width: 100%;
  height: 0;
  margin: 0;
  display: grid;
  background-color: black;
  grid-template-rows: 1fr repeat(4, 0.5fr);
  grid-row-gap: 15px;
  padding:0;
  -webkit-transition: height .5s ease;
  transition: height .5s ease;
  z-index: 100;
}

.dropdown-links a:first-child, .dropdown-links a:last-child {
  margin-top: 20px;
}

/*class for the dropdown-links links to adjust their font etc.*/
.burger-link {
  background-color: black;
  color: white;
  width: 100%;
  font-size: 1.75rem;
  text-decoration: none;
}

.burger-link:hover {
  background-color: pink;
  color: black;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.burger-link:active {
  background-color: black;
  color: pink;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/*for smaller screen make nav bar a burger menu or icons?*/
@media only screen and (max-width: 850px) {
  .nav-bar{
    display: none;
  }
  .dropdown-menu {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 30px 0px;
  }

  logo {
    flex-shrink: 3;
  }

}

/*header*/
header {
  background-color: black;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

header .image-container {
  display: flex;
  height: 550px;
  width: 100%;
}

header .image-container img {
  object-fit: cover;
  object-position: 100% 75%;
}


/*about 710px is the next break where the paragraphs need to be adjusted/ the site is breaking there*/


/*about section*/
#about {
  display: flex;
  background-color: black;
  color: white;
}

/*#about .content-container {*/
/*  display: flex;*/
/*  margin: auto 30px;*/
/*}*/

#about h2 {
  color: pink;
  /*padding: 30px*/
}

/*education section*/

#education {
  background-color: pink;
}

#education .content-container {
  flex-direction: row-reverse;
}

#education .content-container h2 {
  flex-shrink: 1;
}

#education .content-container p {
  width: 30%;
  flex-shrink: 1;
}

#formal-edu {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  margin-top: 30px;
  flex-shrink: 2;
}

#formal-edu h3 {
  text-align: center;
}

#formal-edu ul li {
  margin-top: 10px;
  display: block;
}

/*projects section*/
#projects {
  background-color: black;
  color: white;
}


#projects h2{
  color: pink;
}

/*styling for smaller screens first breakpoint 850px*/
@media only screen and (max-width: 850px) {
  .content-container {
    flex-direction: column;
    padding-bottom: 30px;
  }
  #education .content-container {
    flex-direction: column;
  }
  p {
    padding: 0;
    text-align: center;
  }

  #education .content-container h2 {
    flex-shrink: unset;
  }

  #education .content-container p {
    width: 100%;
    flex-shrink: unset;
  }

  #formal-edu h3 {
    margin: 0px;
  }
}



/*footer*/
footer {
  background-color: pink;
  text-align: center;
  padding: 30px;
}

footer:before {
  content: "\00a9";
}

